<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gustu.rekomendasi.buku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RekomendasiBuku"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.BookDetailActivity"
            android:label="Detail Buku"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/Theme.RekomendasiBuku.NoActionBar" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.RekomendasiBuku.NoActionBar" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/book_recommender"
            android:theme="@style/Theme.RekomendasiBuku.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>